@font-face{
    font-family: 'Lobster';
    src: url('./fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: darkgreen;
    font-family: Ubuntu;
    color: white;
}

body a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.weather-city{
    border-top: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wg-forecast {
    border-left: 1px solid white;
    padding-top: 10px;
}

#dashboard-header {
    background-color: #0A3B07;
    font-size: 30pt;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.wg-weather img, .wg-forecast img{
    filter: invert(1);
    max-width: 100%;
}

.wg-forecast {
    text-align: center;
}

.currencies-header h2{
    text-align: center;
}

.wg-crypto-change-column{
    text-align: center;
}

.wg-crypto-change-alert{
    background-color: #BE5555;
}

.wg-header {
    background-color: #0E3838;
    padding-bottom: 15px;
}

.wg-list>.row:nth-child(even){
    background-color: #134B13;
}

.wg-list>.row:nth-child(even)>.wg-crypto-change-alert{
    background-color: #BE3030;
}


.ct-chart {
    background-color: #004B4B;
}

.ct-series-a .ct-line, .ct-series-a .ct-point {
    stroke: #BE8555;
}

.ct-series-b .ct-line, .ct-series-b .ct-point {
    stroke: #BE5555;
}

.ct-grids .ct-grid {
    stroke: #4AA5A5;
}

.ct-labels .ct-label {
    color: white;
}