:root, svg:root {
    --paper-main-color: #e6e1d0;
    --paper-dark-color: #c5c2b5;
    --blue-main-color: #7ac0c0;
    --orange-main-color: #e68966;
    --orange-dark-color: #cc7a5b;
    --dark-main-color: #4c5057;
    --text-main-color: #383a3c;
    --text-inverted-color: #f6edd8;
}

@font-face{
    font-family: 'Lobster';
    src: url('./fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--paper-main-color);
    font-family: HelveticaNeueCyr-Roman;
    color: var(--text-main-color);

    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
}

body a {
    text-decoration: none;
    color: var(--text-inverted-color);
    text-align: center;
}

.container-fluid {
    min-height: 100vh;
}

.dashboard-with-sidebar .dashboard-sidebar{
    transform: translateX(0em);
    z-index: 10;
}

.dashboard-sidebar {
    background-color: var(--dark-main-color);
    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    box-shadow: 0 5px 10px rgba(0,0,0,0.55);
    color: var(--text-inverted-color);
    position: absolute;
    left: 0;
    top: 8em;
    width: 35em;
    transform: translateX(-35em);
    transition-duration: 0.3s;
    z-index: 10;
    padding-top: 1em;
    padding-bottom: 1em;
}

.dashboard-sidebar div {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 4em;
    text-align: center;
}

#dashboard-header {
    background-color: var(--blue-main-color);
    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    color: var(--text-inverted-color);
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);

    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.2em;
}

#dashboard-header h1 {
    line-height: 1.2em;
    margin: 0;
}

.wg-weather {
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.wg-weather .image-wrapper, .wg-weather .temperature-wrapper {
    text-align: center;
}

.wg-weather img, .wg-forecast img{
    max-width: 100%;
    width: 70%;
}

.wg-forecast-unit {
    text-align: center;
    padding-bottom: 1em;
}

.wg-weather>.wg-forecast-unit:nth-child(even){
    background-color: var(--paper-dark-color);
    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
}

.currencies-header h2{
    text-align: center;
}

.wg-crypto-change-column{
    text-align: center;
}

.wg-crypto-change-alert{
    background-color: var(--orange-main-color);
    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
}

.wg-header {
    background-color: var(--paper-main-color);
    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    padding-bottom: 15px;
}

.wg-list>.row:nth-child(even){
    background-color: var(--paper-dark-color);
    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
}

.wg-list>.row:nth-child(even)>.wg-crypto-change-alert{
    background-color: var(--orange-dark-color);
    background-image: url(../img/grain.png);
    background-repeat-x: repeat;
    background-repeat-y: repeat;
}

/* charts styling */

.ct-chart, .ct-chart-2 {
    background-color: var(--dark-main-color);
}

.ct-series-a .ct-line, .ct-series-a .ct-point {
    stroke: var(--orange-main-color);
}

.ct-series-b .ct-line, .ct-series-b .ct-point {
    stroke: var(--orange-main-color);
}

.ct-grids .ct-grid {
    stroke: var(--paper-main-color);
}

.ct-labels .ct-label {
    color: var(--paper-main-color);
}