:root, svg:root {
    --paper-main-color: #f3efe1;
    --paper-darker-color: #cfcaba;
    --dark-main-color: #36322e;
    --dark-lighter-color: #574f48;
    --dark-darker-color: #292624;
    --text-main-color: #504d4a;
    --text-inverted-color: #d69a4e;
}

@font-face{
    font-family: 'Lobster';
    src: url('./fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    background-color: var(--paper-main-color);
}

p {
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    top: 0;
    bottom: 0;
}

#sidebar{
    background-color: var(--dark-main-color);
    color: var(--text-inverted-color);
    min-width: 20em;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar .sidebar-header {
    padding: 2em;
    background-color: var(--dark-darker-color);
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar p {
    padding: 1em;
}

#sidebar ul.components{
    border-bottom: 1px solid var(--dark-darker-color);
    padding-bottom: 2em;
}

#sidebar ul li a {
    display: block;
    padding: 1em;
}

#sidebar ul li a:hover {
    background-color: var(--dark-lighter-color);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
}

#sidebar ul li ul {
    background-color: var(--dark-darker-color);
}

#sidebar ul.CTAs {
    padding: 2em;
}

#sidebar ul.CTAs a {
    background-color: var(--dark-darker-color);

    text-align: center;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

#sidebarCollapse {
    width: 3em;
    height: 3em;
}


#content {
    padding: 2em;
}

.post {
    margin-left: 5em;
    margin-right: 5em;
    max-width: 900px;
}

.post h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.line {
    margin-top: 2em;
    margin-bottom: 2em;
}

.post .date {
    width: 100%;
    text-align: right;
}

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/*.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


*/
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
*/

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
*/
/* ---------------------------------------------------
    ARTICLES
----------------------------------------------------- */
/*.date {
    padding-top: 20px;
    text-align: right;
    width: 100%;
}

.wrapper div {
    display: block;
}

.post {
    padding-top: 25px;
}

*/