@font-face{
    font-family: 'Lobster';
    src: url('./fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: maroon;
    font-family: Lobster;
    color: #C08656;
}

body a:visited, body a:hover, body a{
    text-decoration: none;
    text-align: center;
    color: #C08656;
}

body a p{
    font-size: 30pt;
}

#landing-header {
    font-family: Ubuntu;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #500000;
}

#landing-header-left{
    text-align: left;
}

#landing-header-right{
    text-align: right;
}

#login-header {
    min-height: 50px;
}

#login-content{
    text-align: center;
    font-size: 24pt;
    font-family: 'Ubuntu';
}

#login-content label {
    color: white;
}

input {
    color: black;
}