:root, svg:root {
    --paper-main-color: #ffeedd;
    --paper-darker-color: #ccbbaa;
    --text-main-color: #665555;
    --red-main-color: #cc4444;
    --red-darker-color: #aa4444;
    --footer-main-color: #665555;
    --footer-text-color: #ffeedd;

    --about-page-text: #ffffff;
}

@font-face{
    font-family: 'Lobster';
    src: url('./fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Gabriola';
    src: url('./fonts/Gabriola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'GOST_AU';
    src: url('./fonts/GOST_AU.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'GOST_BU';
    src: url('./fonts/GOST_BU.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: var(--paper-main-color);
    color: var(--text-main-color);
    font-family: Gabriola;
    font-size: 12px;
}

/* Message Content */
/* Scalable fonts */
.message p{
  font-size: 2em;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 525px) {
  .message p{
    font-size: 2.5em;
    line-height: 1.375;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }

  h4 {
    line-height: 1.22222222;
  }
}

@media (min-width: 675px) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }

}

/* End Scalable fonts */

body a:visited, body a:hover, body a{
    text-decoration: none;
    text-align: center;
    color: var(--text-main-color);
}

body a p{
    font-size: 30pt;
}

#landing-header {
    font-family: HelveticaNeueCyr-Roman;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: var(--red-main-color);
    color: var(--paper-main-color);

    outline-color: var(--red-main-color);
    outline-style: dashed;
    outline-width: thick;
    outline-offset: 0.2em; 
}

#landing-header a:visited, #landing-header a:hover, #landing-header a{
    color: var(--paper-main-color);
}


#landing-header-left{
    text-align: left;
}

#landing-header-right{
    text-align: right;
}

#login-header {
    min-height: 50px;
}

#login-content{
    text-align: center;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 1.75em;
}

@media (min-width: 525px) {
    #login-content{
        font-size: 2.75em;
    }
}

#login-content label {
    color: var(--text-main-color);
}

input {
    color: var(--text-main-color);
}

#landing-content {
    margin-top: 5em;
    min-height: 65em;
    min-height: 80%;
}

#landing-content .landing-content-unit{
    height: 12em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

@media (min-width: 525px) {
    #landing-content {
        margin-top: 5em;
        min-height: 50em;
        min-height: 80%;
    }

    #landing-content .landing-content-unit{
        height: 20em;
    }
}

@media (min-width: 675px) {
    #landing-content {
        margin-top: 5em;
        min-height: 50em;
        min-height: 80%;
    }

    #landing-content .landing-content-unit{
        min-height: 25em;
    }
}

#landing-content .landing-content-unit img{
    height: 100%;
}

footer {
    font-family: HelveticaNeueCyr-Roman;
    background-color: var(--footer-main-color);
    min-height: 20em;

    outline-color: var(--footer-main-color);
    outline-style: dashed;
    outline-width: thick;
    outline-offset: 0.2em;

    color: var(--footer-text-color);

    padding-top: 2em;
}

footer a {
    color: var(--footer-text-color);
}

footer h1 {
    text-align: center;
}

footer a:visited, footer a:hover, footer a{
    text-decoration: none;
    text-align: center;
    color: var(--footer-text-color);
}

.footer .social img{
    width: 4em;
}

.footer .social ul li {
    display: inline-block;
    margin: 1em;
    background-color: white;
    border-radius: 1em;
}

.about-page-main{
    font-family: GOST_BU;
    background-color: #005190;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235f89ab' fill-opacity='0.51'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    min-height: 100vh;
    color: var(--about-page-text);

    font-size: 4em;
}

@media (min-width: 675px) {
    .about-page-main{
        font-size: 3em;
    }
}

@media (min-width: 990px) {
    .about-page-main{
        font-size: 2em;
    }
}

.about-page-main a:visited, .about-page-main a:hover, .about-page-main a{
    text-decoration: none;
    text-align: center;
    color: var(--about-page-text);
}

