:root, svg:root {
    --blue-main-color: #0747a6;
    --blue-darker-color: #08357c;
    --light-main-color: white;
    --gray-main-color: #f4f5f7;
    --gray-darker-color: #d9d9d9;
}

@font-face{
    font-family: 'Lobster';
    src: url('./fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    font-family: HelveticaNeueCyr-Roman;
}

.container-fluid {
    min-height: 100%;
}

#page-header {
    background-color: var(--blue-main-color);
    color: var(--light-main-color);
    vertical-align: middle;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
}

#page-header a, #page-header a:hover, #page-header a:active{
    color: var(--light-main-color);
}

#page-header div {
    padding: 1em;
    padding-top: 2em;
    float: left;
}

#page-header .header-button {
    padding: 1em;
    text-align: center;
    font-size: 3em;
}

.category-heading {
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 5em;
}

.category-heading a {
    font-size: 3em;
    color: var(--blue-main-color);
}

.action-sheet-heading-column {
}

.action-sheet-heading-column:not(:first-child) {
    border-left: 1px solid var(--gray-darker-color);
}

.action-sheet-column {
    background-color: var(--gray-main-color);
    box-shadow: inset 0 0 20px 0 var(--gray-darker-color);
    min-height: 60vh;
}

.action-sheet-column:not(:first-child) {
    border-left: 1px solid var(--gray-darker-color);
}

.action-item {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--light-main-color);
    padding: 1em;
    border-radius: 0.5em;
    border-left-style: solid;
    border-left-width: 0.5em;
    border-left-color: red;
}

