{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>MgeliOS's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" >
        <meta name="theme-color" content="#36322e">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><a href="/">MG's home</a></h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Hello {{user.username}}</p>
                    {% for category_bundle in category_bundles %}
                        <li class="active">
                            <a href="#submenu-{{category_bundle.id}}" data-toggle="collapse" aria-expanded="false">
                                {{category_bundle.name}}
                            </a>
                            <ul class="collapse list-unstyled" id="submenu-{{category_bundle.id}}">
                                {% for category in categories %}
                                    {% if category.bundle == category_bundle %}
                                        <li>
                                            <a href="{% url 'category' pk=category.pk %}">
                                                {{category.name}}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="#" class="download">Some button</a></li>
                    <li><a href="#" class="article">Another button</a></li>
                </ul>


            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                        </div>
                        <div id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="/blog/">BLOG HOME</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'post_new' %}">Add post</a>
                                </li>
                                <li>
                                    <a href="{% url 'post_draft_list' %}">Approve posts</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">Log out</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}">Log in</a>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>

                {% block content %}
                {% endblock %}

            </div>
        </div>





        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>

    </body>
</html>