{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="title" content="Tasklist, minimalistic">
        <meta name="keywords" content="minimalistic, tasklist, todo, task management">
        <meta name="description" content="Эта страница предназначена для упраления задачами. Минималистично">

        <title>Tasklist</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/todo.css' %}" >
        <meta name="theme-color" content="#0747a6">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>