{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Tasklist, minimalistic">
        <meta name="keywords" content="minimalistic, tasklist, todo, task management">
        <meta name="description" content="Эта страница предназначена для упраления задачами. Минималистично">

        <title>Tasklist</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/todo.css' %}" >
        <meta name="theme-color" content="#0747a6">
    </head>
    <body>
        <div class="container-fluid">
            <header id="page-header" class="row">
                <div class="header-button">
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
                {% block title %}
                {% endblock %}
                <div class="sidebar-icon header-button">
                    <a href="#" id="header__icon">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                </div>
            </header>
            <div class="sidebar">
                <a href="{% url 'create_action_category' %}" class="sidebar-category">
                    <div> <span class="glyphicon glyphicon-plus"></span> </div>
                </a>
                {% for category in categories %}
                    <a href="#" class="sidebar-category">
                        <div>{{category.name}}</div>
                    </a>
                {% endfor %}
            </div>

            {% block content %}
            {% endblock %}
        </div>
        <script>
            $(document).ready(function(){
                (function($) {
                    $('#header__icon').click(function(e){
                        e.preventDefault();
                        $('.container-fluid').toggleClass('tasklist-with-sidebar');
                    });
                
                    $('#some').click(function(e){
                      $('.container-fluid').removeClass('tasklist-with-sidebar');
                    });
                })(jQuery);
            });
        </script>
    </body>
</html>

