{% extends 'todo/base.html' %}

{% block title %}
    <div class="title">
        <h2>New category</h2>
    </div>
{% endblock %}


{% block content %}
    <div class="col-xs-0 col-md-4">
        
    </div>
    <div class="col-xs-12 col-md-4 form-wrapper">
        <form method="POST" class="post-form" name="editform">{% csrf_token %}
            {{ form.as_p }}
            <a class="save-button" href="javascript:document.editform.submit()">Save</a>
            {% if is_update %}
                <a class="delete-button" href="{% url 'delete_action_category' pk=form.instance.pk %}">Delete</a>
            {% endif %}
        </form>
    </div>
    <div class="col-xs-0 col-md-4">
        
    </div>
{% endblock %}