{% load staticfiles %}
<html>
    <head>
        <title>MgeliOS's landing</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/landing.css' %}" >
        <meta name="theme-color" content="#ccbbaa">
    </head>
    <body>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>