{% load staticfiles %}
<html>
    <head>
        <title>MgeliOS's landing</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/greeting.css' %}" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/clock.js' %}"></script>
        <meta name="theme-color" content="#b5b5b5">
    </head>
    <body>
        <div class="container-fluid">
            <div class="block-heading">
                <div class="block-heading-background">
                </div>
                <div class="block-heading-content">
                    <div class="block-heading-wrapper">
                        <div class="col-xs-12 col-md-6">
                            <h1>Приветствую, {{user.first_name}}</h1>
                            <h1>Сейчас: <span id="day"></span> <span id="month"></span> <span id="year"></span></h1>
                            <h1><span id="hours">00</span>:<span id="min">00</span>:<span id="sec">00</span></h1>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <h3>Погода Минск:</h3>
                            <h4>{{weather.temperature}}&deg;C, {{weather.description}}</h4>
                            <h3>Курсы валют:</h3>
                            {% for currency in currencies|slice:'3' %}
                                <h4>{{currency.scale}} {{currency.abbreviation}} = {{currency.rate}} BYN</h4>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-content">
            </div>
        </div>
    </body>
</html>