{% extends 'landing/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="row" id="landing-header">
        {% if not user.is_authenticated %}
            <div class="col-md-6 col-xs-6" id="landing-header-left">
                <h1>Hello there, stranger</h1>
            </div>
        {% else %}
            <div class="col-md-1 col-xs-1">
                <h1><a href="{% url 'secret_message_list' %}"><span class="glyphicon glyphicon-envelope"></span></a></h1>
            </div>
            <div class="col-md-7 col-xs-7" id="landing-header-left">
                <h1>Hello there, {{user.first_name}}</h1>
            </div>
        {% endif %}
        <div class="col-md-4 col-xs-4" id="landing-header-right">
            {% if not user.is_authenticated %}
                <h1>
                    <a href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </h1>
            {% else %}
                <h1>
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </h1>
            {% endif %}
        </div>
    </div>
    <div class="row" id="landing-content">
        <div class="col-md-4 col-xs-6 landing-content-unit">
            <a href="/blog/">
                <img src="{% static 'img/blog_01.svg' %}">
            </a>
        </div>
        <div class="col-md-4 col-xs-6 landing-content-unit">
            <a href="/dashboard/weather/">
                <img src="{% static 'img/dashboard_01.svg' %}">
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="col-md-4 col-xs-6 landing-content-unit">
                <a href="/todo/">
                    <img src="{% static 'img/tasklist_01.svg' %}">
                </a>
            </div>
        {% endif %}
        <div class="col-md-4 col-xs-6 landing-content-unit">
            <a href="#">
                <img src="{% static 'img/coming_soon_01.svg' %}">
            </a>
        </div>
    </div>
    <footer class="row footer">
        <div class="col-xs-6 col-xs-4">
            <h1>Common info</h1>
            <ul>
                <li>
                    <h2><a href="{% url 'info_about' %}">About</a><h2>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-xs-4">
            <h1>Other</h1>
        </div>
        <div class="col-xs-6 col-xs-4 social">
            <h1>Social</h1>
            <ul>
                <li>
                    <a href="https://vk.com/mgelios">
                        <img src="{% static 'img/social/vk-icon.svg' %}">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/anton-nadezhkin-39333a55/">
                        <img src="{% static 'img/social/linkedin-icon.svg' %}">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/master.gelios/">
                        <img src="{% static 'img/social/facebook-icon.svg' %}">
                    </a>
                </li>
                <li>
                    <a href="skype:master_gelios?chat">
                        <img src="{% static 'img/social/skype-icon.svg' %}">
                    </a>
                </li>
                <li>
                    <a href="https://telegram.me/master_gelios">
                        <img src="{% static 'img/social/telegram-icon.svg' %}">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
{% endblock %}
