{% load staticfiles %}
<html>
    <head>
        <title>MgeliOS's landing</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/landing.css' %}" >
    </head>
    <body>
        <div class="row">
            <div class="col-md-4 ">
                <a href="/blog/">
                    <p><span class="glyphicon glyphicon-book"></span> MGeliOS's blog</p>
                </a>
            </div>
        </div>
    </body>
</html>