{% extends 'landing/base.html' %}


{% block content %}
    <div class="row" id="landing-header">
        {% if not user.is_authenticated %}
            <div class="col-md-8 col-xs-8" id="landing-header-left">
                <h1>Hello there, stranger</h1>
            </div>
        {% else %}
            <div class="col-md-1 col-xs-1">
                <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a></h1>
            </div>
            <div class="col-md-1 col-xs-1">
                <h1><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></h1>
            </div>
            <div class="col-md-6 col-xs-6" id="landing-header-left">
                <h1>Hello there, {{user.first_name}}</h1>
            </div>
        {% endif %}
        <div class="col-md-4 col-xs-4" id="landing-header-right">
            {% if not user.is_authenticated %}
                <h1>
                    <a href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </h1>
            {% else %}
                <h1>
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </h1>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-1">
            
        </div>
        <div class="col-md-8 col-xs-10 message">
            {% for secret_message in secret_messages %}
                <h3>{{secret_message.text}}</h3>
            {% endfor %}
        </div>
        <div class="col-md-2 col-xs-1">
            
        </div>
    </div>
{% endblock %}