{% load staticfiles %}
<html>
    <head>
        <title>MgeliOS's landing</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/landing.css' %}" >
        <meta name="theme-color" content="#ccbbaa">
    </head>
    <body>
        <div class="container-fluid about-page-main">
            <div class="row">
                <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a></h1>
            </div>
            <div class="row">
                <div class="col-xs-1 col-md-2">
                </div>
                <div class="col-xs-10 col-md-8">
                    <h1>About</h1>
                    <ul>
                        {% for version in versions %}
                            <li>
                                {{version}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-1 col-md-2">
                </div>
            </div>
        </div>
    </body>
</html>