{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>mgelios's dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/chartist.min.css' %}" >

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/chartist.min.js' %}"></script>
        
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" >
        <meta name="theme-color" content="darkgreen">
    </head>
    <body>
        <div class="container-fluid">
            <div class="dashboard-sidebar">
                <div class="col-xs-4">
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="/dashboard/weather/">
                        <span class="glyphicon glyphicon-cloud"></span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="/dashboard/currencies/">
                        <span class="glyphicon glyphicon-euro"></span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="/dashboard/crypto_currencies/">
                        <span class="glyphicon glyphicon-bitcoin"></span>
                    </a>
                </div>
            </div>
            <div class="row" id="dashboard-header">
                <div class="col-xs-1">
                    <a href="#" id="header__icon">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                </div>
                {% block header %}
                {% endblock %}
            </div>
            <div class="row">
                <div class="dashboard-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>

<script>
    $(document).ready(function(){
        (function($) {
            $('#header__icon').click(function(e){
                e.preventDefault();
                $('.container-fluid').toggleClass('dashboard-with-sidebar');
            });
        
            $('#site-cache').click(function(e){
              $('.container-fluid').removeClass('dashboard-with-sidebar');
            });
        })(jQuery);
    });
</script>
