{% load staticfiles %}
<html>
    <head>
        <title>mgelios's dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" >
        <meta name="theme-color" content="darkgreen">
    </head>
    <body>
        <div class="container">
            <div class="row" id="dashboard-header">
                <div class="col-xs-4">
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                {% include './weather/weather.html' %}
            </div>
            <div class="row">
                {% include './currency/currency.html' %}
                <div class="col-md-6">
                    <iframe frameborder="0"
                            class="embed-responsive-item"
                            style="width: 100%; min-height: 200px;"
                            src="https://music.yandex.ru/iframe/#playlist/master_gelios@tut.by/1005/show/cover/description/black/006400">
                    </iframe>
                </div>
            </div>
        </div>
    </body>
</html>