{% load staticfiles %}

<div class="col-md-6 wg-currencies">
    <div class="row">
        <div class="col-xs-12">
            <h2>Курсы валют НБРБ к BYN</h2>
        </div>
    </div>
    {% if currencies %}
        {% for currency in currencies %}
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        {{currency.Cur_Scale}} {{currency.Cur_Abbreviation}} = {{currency.Cur_OfficialRate}} BYN
                    </h3>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
