 {% extends './base.html' %}

{% block content %}


<div class="col-md-12 col-xs-12 currencies-header ">
    <h2>Курсы традиционных валют</h2>
</div>
<div class="col-md-6 col-xs-6 wg-currencies">
    <div class="row">
        <div class="col-xs-12">
            <h2>... к BYN:</h2>
        </div>
    </div>
    {% if currencies %}
        {% for currency in currencies %}
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        {{currency.Cur_Scale}} {{currency.Cur_Abbreviation}} = {{currency.Cur_OfficialRate}} BYN
                    </h3>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


<div class="row">
    <div class="col-xs-1 col-md-1">
    </div>
    <div class="col-xs-10 col-md-10">
        <div class="ct-chart ct-major-seventh"></div>
    </div>
    <div class="col-xs-1 col-md-1">
    </div>
    <script>
        var data={
            series: [[
                {% for data in statistics %}
                    {{data.Cur_OfficialRate}},
                {% endfor %}
            ]]
        };

        new Chartist.Line('.ct-chart', data);
    </script>
</div>

{% endblock %}