{% extends './base.html' %}


{% block header %}
    <div class="col-xs-8 col-md-8">
        <h1>Траты</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="expenses-wrapper">
        <div class="col-md-8 col-xs-12">
            <h1>Total: {{summary}}</h1>
            <div class="col-xs-12 col-md-12 wg-expenses-canvas">
                <canvas id="expensesDonut"></canvas>
            </div>
            <script>
                var expensesCtx = document.getElementById("expensesDonut").getContext('2d');
                var expensesDonut = new Chart(expensesCtx, {
                    type: 'pie',
                    data: {
                        labels: [
                            {% for category in category_info %}
                                '{{category.name}}',
                            {% endfor %}
                        ],
                        datasets:[{
                            label: 'Amount',
                            data: [
                               {% for category in category_info %}
                                   {{category.amount}},
                               {% endfor %}
                            ],
                            backgroundColor:[
                                '#d5797b88',
                                '#d184a188',
                                '#b897c088',
                                '#90abd088',
                                '#67bdcb88',
                                '#5dcab488',
                                '#7ed19288',
                                '#afd37388',
                                '#e5ce6488'
                            ]
                        }]
                    }
                });
            </script>

        </div>
        <div class="col-md-4 col-xs-12">
            <a href="{% url 'expenses_category_create' %}" class="wg-button">
                <div>
                    <h2>
                        Категория <span class="glyphicon glyphicon-plus"></span>
                    </h2>
                </div>
            </a>
            <a href="{% url 'expenses_record_create' %}" class="wg-button">
                <div>
                    <h2>
                        Траты <span class="glyphicon glyphicon-plus"></span>
                    </h2>
                </div>
            </a>
            <a href="{% url 'income_record_create' %}" class="wg-button">
                <div>
                    <h2>
                        Доходы <span class="glyphicon glyphicon-plus"></span>
                    </h2>
                </div>
            </a>
            {% for expenses_category in expenses_categories %}
                <h1><a href="{% url 'expenses_category_update' pk=expenses_category.pk %}">{{expenses_category.name}}</a></h1>
                {% for expenses_item in expenses %}
                    {% if expenses_item.category == expenses_category %}
                        <h3><a href="{% url 'expenses_record_update' pk=expenses_item.pk %}">{{expenses_item.date}}</a></h3>
                        <h3>{{expenses_item.amount}} BYN</h3>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}