{% extends './base.html' %}


{% block header %}
    <div class="col-xs-8 col-md-8">
        <h1>Коммунальные показатели</h1>
    </div>
{% endblock %}

{% block content %}
    {% for living_place in living_places %}
        <h1>{{living_place.name}}</h1>
        {% for utilities_item in utilities %}
            {% if utilities_item.place == living_place %}
                <h3>{{utilities_item.date}}</h3>
                <h3>{{utilities_item.hot_water}}</h3>
                <h3>{{utilities_item.cold_water}}</h3>
                <h3>{{utilities_item.electricity}}</h3>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}