{% extends './base.html' %}


{% block header %}
    <div class="col-xs-8 col-md-8">
        <h1>Weather  {{weather.city_name}}: {{weather.description}}, {{weather.temperature}}&deg;C</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12 wg-weather">
        <div class="col-xs-4 col-md-4">
            <div class="temperature-wrapper">
                <h2>Сейчас:</h2>
                <h2>{{weather.date|date:"l j N Y"}}</h2>
                <h2>{{weather.date|date:"H:i"}}</h2>
                <h2>{{weather.temperature_min}}&deg;C .. {{weather.temperature_max}}&deg;C</h2>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="image-wrapper">
                <img src="../../static/img/weather/{{weather.icon_name}}.svg">
            </div>
        </div>

        <div class="col-xs-4 col-md-4">
            <h3>Влажность: {{weather.humidity}}%</h3>
            <h3>Давление: {{weather.pressure}} hPa</h3>
            <h3>Видимость: {{weather.visibility}} m</h3>
            <h3>Скорость ветра: {{weather.wind_speed}} m/sec</h3>
            <h3>Рассвет: {{weather.sunrise|date:"H:i"}}</h3>
            <h3>Закат: {{weather.sunset|date:"H:i"}}</h3>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 wg-weather">
        {% for date in dates %}
            <div class="col-xs-2 col-md-2">
            {% for weather_info in forecast %}
                {% if weather_info.date_time.day == date %}
                    <div class="wg-forecast-unit">
                        <h3>{{weather_info.date_time|date:"D, d"}}</h3>
                        <h3>{{weather_info.date_time|date:"H:i"}}</h3>
                        <h3>{{weather_info.main_info}}</h3>
                        <img src="../../static/img/weather/{{weather_info.icon_name}}.svg">
                        <h3>{{weather_info.temperature}}&deg;C</h3>
                        <h3><span class="glyphicon glyphicon-tint"></span>: {{weather_info.humidity}}%</h3>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>

 {% endblock %}